.book-block {
    width: 70%;
}

.block-title {
    margin: 0.5rem 0;
    font-weight: 500;
    color: #E6E1E5;
    text-align: center;
}

.book-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-card {
    flex-direction: column;
    width: 15rem;
    text-align: center;
    display: flex;
    /* border: 1px solid black; */
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0;
}

.book-text-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0.5rem;
}

.book-text-block p {
    padding: 0.3rem;
}

.book-image {
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

.btn-primary:hover {
    color: #1D192B;
    background: #E8DEF8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
}

.btn-block {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn:hover {
    color: #FFFFFF;
    background: #6d6973;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
}

.btn-text-block {
    align-self: end;
    align-items: center;
    height: 2.5rem;
    display: flex;
    border-radius: 50px;
}

.btn-group-button {
    padding: 0.3rem;
    width: 100%;
    border: none;
    appearance: none;
    color: #381E72;
    background: none;
    border-left: 1px solid #381E72;
}

.cart-block {
    width: 30%;
    margin: 1rem 1rem 1rem 0;
}

.cart-title {
    align-items: center;
    justify-content: center;
    display: flex;
}

#cart-icon {
    margin: 0.25rem;
    height: 2rem;
}

.cart-image {
    height: 10rem;
}

.empty-image {
    border-radius: 16px;
    width: 6rem;
    border: 1px dotted white;
}

.cart-card {
    margin: 0 0.5rem 0.5rem 0.5rem;
    display: flex;
    padding: 0;
}

.cart-card * {
    font-size: 0.8rem;
}

.cart-price-content {
    margin: 0 0.5rem 0.5rem 0.5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}